<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cardápio</ion-card-title>
      <ion-card-subtitle>Todos os Itens</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of cardapio" (click)="setOpen(true, p.img, p.produto, p.descricao, p.valor, p.qtd)">
          <ion-thumbnail slot="start">
            <img src={{p.img}} />
          </ion-thumbnail>
          <ion-label>Item do cardápio</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
  </ion-card>
</ion-content>